.details-stats {
    display: grid;
    grid-template-areas: "category category category"
                         "statName statBar statBar"
}

.stats-names {
    display: grid;
    grid-area: statName;
    text-transform: capitalize;
    margin-bottom: .3rem;
    row-gap: .2rem;
}

.base-stats {
    grid-area: statBar;
    display: grid;
}

.bar {
    background-color: var(--surface-color);
    height: 1rem;
    max-width: 300px;
    border-radius: 1rem;
}

.progress {
    align-items: center;
    height: 100%;
    border-radius: 1rem;
    color: var(--color);
    display: flex;
    justify-content: end;
    padding-right: .3rem;
    font-size: .8rem;
}

.evolution a {
    color: var(--color);
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.evolution a:active {
    filter: brightness(.9);
}

@media screen and (min-width: 760px) {
    .evolution {
        display: flex;
        align-self: center;
        width: 100%;
    }
}

@media screen and (min-width: 1190px) {
    .evolution a:hover {
        filter: brightness(.9);
    }
}