.details-stats {
    display: grid;
    grid-template-areas: "category category category"
                         "statName statBar statBar"
}

.stats-names {
    display: grid;
    grid-area: statName;
    text-transform: capitalize;
    margin-bottom: .3rem;
    row-gap: .2rem;
}

.base-stats {
    grid-area: statBar;
    display: grid;
}

.bar {
    background-color: var(--surface-color);
    height: 1rem;
    max-width: 300px;
    border-radius: 1rem;
}

.progress {
    align-items: center;
    height: 100%;
    border-radius: 1rem;
    color: var(--color);
    display: flex;
    justify-content: end;
    padding-right: .3rem;
    font-size: .8rem;
}

.evolutions {
    background-color: var(--surface-color);
}