header {
    top: 1rem;
    display: flex;
    z-index: 1;
    position: absolute;
    justify-content: end;
    width: 100%;
}

.close-button, .arrow {
    background-color: transparent;
}

.loading-container {
    align-items: center;
    background-color: var(--background-color);
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.spinner {
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border: .3rem solid var(--color);
    border-top: .3rem solid var(--surface-color);
    height: 3rem;
    margin-bottom: .5rem;
    width: 3rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.details-header {
    padding: 1rem 2rem;
}

.pokemon-info {
    display: flex;
    align-items: baseline;
}

.pokemon-number {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.pokemon-image {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.pokemon-image img {
    width: 90%;
}

.details-content {
    padding: 2rem;
    overflow-y: auto;
}

.badge {
    background-color: var(--surface-color);
    border-radius: 1.5rem;
    padding: .5rem;
    text-transform: capitalize;
}

.details-about {
    display: grid;
    grid-template-areas: "entry entry"
                         "height weight"
                         "abilities abilities"
                         "eggGroups eggGroups"
                         "types types"
                         "weaknesses weaknesses";
}

.details-about div {
    margin-bottom: 1rem;
}

.pokedex-entry {
    grid-area: entry;
}

.pokemon-height, .pokemon-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-height {
    grid-area: height;
}

.pokemon-weight {
    grid-area: weight;
}

.pokemon-abilities {
    grid-area: abilities;
    white-space: nowrap;
}

.pokemon-egg-groups {
    grid-area: eggGroups;
}

.pokemon-types {
    align-self: baseline;
    grid-area: types;
}

.pokemon-weaknesses {
    grid-area: weaknesses;
}

.details-stats {
    display: grid;
    grid-template-areas: "category category category"
                         "statName statBar statBar";
    grid-template-columns: 50% 50%;
}

.evolution-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-names {
    display: grid;
    grid-area: statName;
    text-transform: capitalize;
    margin-bottom: .3rem;
    row-gap: .2rem;
}

.base-stats {
    grid-area: statBar;
    display: grid;
}

.bar {
    background-color: var(--surface-color);
    height: 1rem;
    border-radius: 1rem;
}

.progress {
    align-items: center;
    height: 100%;
    border-radius: 1rem;
    color: var(--color);
    display: flex;
    justify-content: end;
    padding-right: .3rem;
    font-size: .8rem;
}

.evolution a {
    color: var(--color);
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.evolution a:active {
    filter: brightness(.9);
}

.evolution img {
    background-color: var(--surface-color);
    border-radius: 50%;
    width: 40%;
    margin-bottom: 1rem;
}

.first, .last {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 760px) {
    .details-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 2rem;
        position: fixed;
        width: 40%;
    }

    .pokemon-image {
        width: 80%;
    }

    .details-content {
        margin-left: 40%;
        padding: 2rem;
        width: 60%;
    }

    .details-stats {
        justify-content: space-between;
    }

    .details-evolution {
        display: flex;
        flex-direction: column;
    }

    .evolution {
        display: flex;
        align-self: center;
        width: 100%;
    }

    .evolution a {
        flex-direction: row;
    }

    .last {
        flex-direction: row;
        flex: 2;
    }

    .arrow {
        transform: rotate(270deg);
    }
}

@media screen and (min-width: 1190px) {
    .evolution a:hover {
        filter: brightness(.9);
    }

    .details-about {
        display: grid;
        grid-template-areas: "entry entry"
                             "height weight"
                             "abilities eggGroups"
                             "types weaknesses";
        grid-template-columns: 50% 50%;
    }

    .pokemon-height {
        display: block;
    }
    
    .pokemon-weight {
        display: block;
    }
}